@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

/* Navbar start */
.navbar-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: lightseagreen;
  text-transform: uppercase;
  padding: 6rem;
}

.navbar-container {
  margin-bottom: 2.6rem;
  position: relative;
}

nav {
  padding: 0.8rem 2rem;
}


.logo {
  float: left;
  margin-left: 1rem;
  margin-top: .5rem;
}

.logo a {
  letter-spacing: 0px;
  text-decoration: none;
  color: #dd4f36;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 15px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: black;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 3.5px;
}

/* Media queries for navbar */

@media screen and (max-width: 864px) {
  /* .logo {
        padding: 0;
        padding-top: 1rem
  }

  .logo a {
        font-size: 1.5rem;
  } */
}

@media screen and (max-width: 375px){
.logo a {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 0.8rem 0.2rem;
}

.navbar-container {
  margin: 0;
}

.user-text {
  margin-top: 1.5rem;
}

.reviewed-header {
  margin-top: 1.5rem;
}

.album-header {
  margin-top: 1.5rem;
}

.album-title {
  margin-top: 1.5rem;
}
}

/* Navbar end  */

.button-navbar {
  border: none;
  padding: 7px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border: 1px solid #181818;
  border-radius: 2px;
}

.button-navbar:hover {
  background-color: #181818;
  color: whitesmoke;
}

/* Home */
.home-create {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #dd4f36;
  font-size: 5rem;
}

.home-share {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 2rem;
}

.home-buttons-container {
  text-align: center;
  margin-top: 1rem;
}

.button-home {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 300;
}

.home-container {
  height: 100vh;
  position: relative;
  text-align: center;
  color: white;
  /* position: fixed; */
  overflow: hidden;
}

.home-container img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.centered-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End of home page */

/* Sign up page */

/* Full-width inputs */
input[type=text], input[type=password], input[type=passwordConform] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Set a style for buttons login and signup */
.buttons-long {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 7px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border: 1px solid #181818;
  border-radius: 2px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.buttons-long:hover {
  background-color: #181818;
  color: whitesmoke;
}

.create-album-button {
  border: none;
  padding: 7px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border: 1px solid #181818;
  border-radius: 2px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
}

.create-album-button:hover {
  background-color: #181818;
  color: whitesmoke;
}

.container-signup-login {
  padding: 30px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.signup-login{
  text-align: center;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.signup-login a {
  text-decoration: none;
  font-weight: 700;
  color: #dd4f36;
}

.forgot-login {
  text-align: center;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif;

}

.forgot-login a {
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  font-size: 0.9rem;
}

.error {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.header-desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 0.5rem;
}

.welcome-login-signup {
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  color: #0f0f0f;
  font-weight: 500;
}

.welcome-text {
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header-signup {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

/* Sign up page end */

/* Login page */

.login-container {
  height: 100vh;
  position: relative; 
  overflow: hidden;
}

.login-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

/* Login page end */

/* 404 page */ 

.notfound-container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.four0four {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 24rem;
}

.thankyou {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* 404 page end */

.progress-bar{
  height: 5px;
  background: lightcoral;
  margin-top: 20px;
  border-radius: 25px;
}

/* Image grid */

.grid-images {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 8px;
  max-width: 95%;
  margin-bottom: 2rem;
  margin-top: 2rem; 
}

.grid-images p {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.grid-images img {
  max-width: 100%;
  /* display: flex; */
  object-fit: cover;
  height: 350px;
  width: 350px;
}

/* Image grid end */ 

/* Imagelightbox */
.backdrop {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}


.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px black;
  border:  3px solid white;
}


/* Imagelightbox end */


/* Image grid albums */

.img-grid-albums {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 10px; 
  max-width: 95%;
}

.img-wrap-albums {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
}
.img-wrap-albums img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.centered {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
}

.img-wrap-albums:hover img {
  opacity: 0.8;
}

.img-wrap-albums:hover {
  background-color: rgb(0, 0, 0);
}

.img-wrap-albums:hover .centered {
  opacity: 1;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}

/* End image grid albums */

/* Drop zone for images */

#dropzone {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgb(219, 219, 219);
  padding: 2rem;
  max-width: 80%;
  margin: auto; 
  text-align: center;
  border-radius: 4px;
  color: rgb(19, 19, 19);
  border: 2px dashed #1d1d1d;
}

/* End of drop zone*/

/* Start of albums page */
.container-user-text {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.user-text {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.album-header {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-align: center;
}

.center-things {
  text-align: center;
}

.buttons-allaround {
  border: none;
  padding: 7px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border: 1px solid #181818;
  border-radius: 2px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.buttons-allaround:hover {
  background-color: #181818;
  color: whitesmoke;
}

.buttons-allaround:disabled {
  opacity: 0.2;
}

.album-title {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.buttons-row {
    max-width:100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inner {
    display: inline-block;
}

.url-share {
  font-family: "Nunito", sans-serif;
  border-style: none;
  margin-bottom: 1rem;
}

.new-album {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
}
/* End of albums page */

/* Spec album page */
.box-rename {
 max-width: 20%;
 margin: auto;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
/*End spec album page */

/* Checkbox */

.likes {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem; 
}

.container-checkbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0.5rem;
  display: flex;
  justify-content: right;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add color background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #5555;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* End checkbox */

/* Review page */

.review-count {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 300;
}

.send-review{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* End of review page */

/* Create a new album */

/* End of create a new album */

/* Buttons review page */
.iLikeThis {
  border: none;
  margin-right: 0.5rem;
  background-color: transparent;
  color: #a5a5a5;
  cursor: pointer; 
}

.iDislikeThis {
  border: none;
  margin-right: 0.5rem;
  background-color: transparent;
  color: #a5a5a5;
  cursor: pointer; 
}

/* Keyframe this animation */
.iLikeThis-active {
  color: #dd4f36;
  animation: pop 0.3s linear 1;
}

/* Keyframe this animation */
.iDislikeThis-active {
  color: #1d1d1d;
  animation: pop 0.3s linear 1;
}


/* Keyframed */
@keyframes pop{
  50%  {transform: scale(1.2);}
}

/* End of buttons review page */ 

/* Reviewed page albums */

.reviewed-header {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-align: center;
}

/* End of reviewed page albums */

/* Media queries */

@media screen and (max-width: 992px) { 
  .four0four {
    font-size: 15rem;
  }

  .container-signup-login {
    width: 50%;
  }

  /* .navbar-container {
    margin-bottom: 4.5rem;
  } */

  .grid-images {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .grid-images img {
    height: 250px;
    width: 250px;
  }

  .container-user-text{
    justify-content: center;
    display: flex;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .four0four {
    font-size: 10rem;
  }

  .container-signup-login {
    width: 75%;
  }

  .grid-images {
    grid-template-columns: 1fr; 
  }

  .grid-images img {
    height: 350px;
    width: 100vw;
  }
}


